*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: rgb(116, 244, 244);
}
.container {
    max-width: 900px;
    margin: 0 auto;
  }
  .applybox {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
  }
  .applybox h1{
    font-size: 1.8rem;
  }
  .applybox h1 span{
    font-size: 1.3rem;
    color: rgb(9, 9, 190);
  }
  .formcontainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  label{
    padding: 23x;
    margin: 5px;
    font-size: 1.1rem;
  }
  input{
    height: 40px;
    border-radius: 3px;
    border: 2px solid black;
  }
  select{
    height: 40px;border-radius: 3px;
  }
  input:focus{
    outline-color: red;
  }
  textarea{
    height: 50px;border-radius: 3px;
  }
  .formcontrol {
    display: flex;
    flex-direction: column;
  }
  select,textarea,input{
    border: 1px solid black;
  }
  .textareacontrol {
    grid-column: 1 / span 2;
  }
  .textareacontrol {
    display: flex;
    flex-direction: column;
  }
  .btn{
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid black; */
    /* max-width: 600px; */
  }
  button{
    background-color: red;
    padding: 5px;
    border: none;
    font-size: 17px;
    width: 100px;
    border-radius: 4px;
    color: aliceblue;
    margin-top: 10px;
      transition: 0.3S ease-in;
  }
  button:hover{
    background-color: aquamarine;
    transition: 0.3s ease-out;
    color: black;
  }
  @media (max-width: 460px) {
    .textareacontrol {
      grid-column: 1 / span 1;
    }
  } ;